<div
  class="hidden md:flex md:flex-col w-20 lg:w-64 bg-[#0f172a] text-gray-300 h-screen p-5 border-r border-gray-800 transition-all duration-300"
>
  <div class="flex items-center justify-center lg:justify-center mb-10">
    <a
      routerLink="/"
      class="flex items-center justify-center lg:justify-center mb-10 cursor-pointer"
    >
      <lucide-icon [img]="Worm" class="w-6 h-6 text-indigo-400 md:block lg:hidden"></lucide-icon>
      <span class="hidden lg:block text-2xl font-bold text-indigo-400 tracking-wide"
      >WireWhisperer</span
      >
    </a>
  </div>
  <nav class="flex flex-col gap-2">
    @for (item of menuItems; track item.route) {
    <a
      [routerLink]="item.route"
      routerLinkActive="bg-[#1e293b] text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-3 px-3 py-2 rounded-lg transition hover:bg-[#1e293b] hover:text-white justify-center lg:justify-start"
    >
      <lucide-icon [img]="item.icon" class="w-5 h-5"></lucide-icon>
      <span class="hidden lg:inline">{{ item.label }}</span>
    </a>
    }
  </nav>
  <div
    class="mt-auto pt-6 border-t border-gray-700 flex items-center justify-center lg:justify-start gap-3"
  >
    <img
      src="https://i.pravatar.cc/40"
      alt="User Avatar"
      class="w-9 h-9 rounded-full border border-gray-600"
    />
    <div class="hidden lg:flex flex-col">
      <span class="text-sm font-semibold text-white">Lisa</span>
      <span class="text-xs text-gray-400">UI/UX Designer</span>
    </div>
  </div>
  <div class="mt-4 flex justify-center lg:justify-start">
    <a
      class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-[#1e293b] hover:text-white transition justify-center lg:justify-start" (click)="logout()"
    >
      <lucide-icon [img]="LogOut" class="w-5 h-5"></lucide-icon>
      <span class="hidden lg:inline">Logout</span>
    </a>
  </div>
</div>
